<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h2 align="center">Welcome to the Books page</h2>
    <form th:action="@{/users/checkout}" th:object="${user}" method="POST">
<table class="table table-bordered table-sm mt-2">
    <thead th:if="${not #lists.isEmpty(books)}">
    <tr>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Year Of Publication</th>
        <th>Number Of Copies</th>
        <th>Checkout</th>
    <tr>
    </thead>
    <tbody th:if="${not #lists.isEmpty(books)}">
    <tr th:each="row : ${books}">
        <td th:text="${row.bookName}">Title ...</td>
        <td th:text="${row.authorName}">authorName ...</td>
        <td th:text="${row.yearOfPublication}">yearOfPublication ...</td>
        <td th:text="${row.numOfCopies}">copies ...</td>
        <td> <input
            type="checkbox"
            th:field="${user.checkoutBooks}"
            th:value="${row.id}"/></td>
    </tr>
    </tbody>
</table>
    <div class="col-xs-20">
        <input type="submit" value="submit"/>
    </div>
    </form>
<table class="table table-bordered table-sm mt-2">
    <tbody th:if="${#lists.isEmpty(books)}">
    <tr>
        <td colspan="3">Sorry!No Books in library</td>
    </tr>
    </tbody>
</table>

<form th:action="@{/books/findbook}" method="get">
    <input type="text" name="name" th:value="${name}"  placeholder="Find by Book Name" size="30" >
    <button type="submit" class="btn btn-info" >Search</button>
</form>
<form th:action="@{/books/findbyauthor}" method="get">
    <input type="text" name="name" th:value="${name}"  placeholder="Find by Author Name" size="30" >
    <button type="submit" class="btn btn-info" >Search</button>
</form>
</div>

</body>

</html>