<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Welcome to the Book details page</p>
<table>
    <thead th:if="${book.bookName ne null}">
    <tr>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Year Of Publication</th>
        <th>Number Of Copies</th>
    </tr>
    </thead>
    <tbody th:if="${book.bookName ne null}">
    <tr>
        <td th:text="${book.bookName}">Title ...</td>
        <td th:text="${book.authorName}">Author ...</td>
        <td th:text="${book.yearOfPublication}">yearOfPublication ...</td>
        <td th:text="${book.numOfCopies}">copies...</td>
    </tr>
    </tbody>
    <tbody th:if="${book.bookName == null}">
    <tr>
        <td colspan="3">Sorry! No books found with the specified book name or Author name.</td>
    </tr>
    </tbody>
</table>
</body>
</html>