<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<table>
    <thead th:if="${not #lists.isEmpty(books)}">
    <tr>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Year Of Publication</th>
        <th>Number Of Copies</th>
    <tr>
    </thead>
    <tbody th:if="${not #lists.isEmpty(books)}">
    <tr th:each="row : ${books}">
        <td th:text="${row.bookName}">Title ...</td>
        <td th:text="${row.authorName}">authorName ...</td>
        <td th:text="${row.yearOfPublication}">yearOfPublication ...</td>
        <td th:text="${row.numOfCopies}">copies ...</td>
    </tr>
    </tbody>
</table>
<table>
    <tbody th:if="${#lists.isEmpty(books)}">
    <tr>
        <td colspan="3">Sorry!No Books in library</td>
    </tr>
    </tbody>
</table>
</body>


</html>