<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Bibliotica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="header.html :: header"></header>
<div>
    <p style="color:green" th:text="${message}"></p>
</div>
<div class="content-main d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="p-5">
                <h2 align="center" class="mt-1 " th:text="${welcomeText}"></h2>
                <h6 align="center" class="mt-2" th:text="${tagLineText}"></h6>
            </div>
        </div>
        <div class=" d-flex justify-content-center">
            <img class="w-50 rounded shadow" th:src="@{images/books.jpg}"/>
        </div>
    </div>
</div>

</body>
</html>