<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    </br></br></br>
    <h2 th:text="${welcomeText}">Title ...</h2>
    </br></br>
    <a href="/books" th:href="@{/books}" style="align:center;font-family:Times;font-size:20px;padding-right:40px">
        View Books Available</a> |
    <a href="#" th:href="@{/users/checkoutBooks}" style ="align:center;font-family:Times;font-size:20px;padding-left:40px">View Checkout books</a>
</div>

</body>
</html>

<!--        <td><a href="#" th:href="@{/users/checkoutBooks}">View Checkout books</a></td>-->