<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="header.html :: header"></header>
<div th:if="${param.error}" class="text-center mt-4">
    Invalid username and password.
</div>
<div th:if="${param.logout}" class="text-center mt-4">
    Thank you for using Biblioteca!
</div>
<div class="container w-25 mt-4 p-5 border rounded shadow">
    <form th:action="@{/login}" method="post">
        <h4>Login</h4>
        <div class="form-outline my-4">
            <input type="email" id="username" name="username" class="form-control" placeholder="Username"/>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
        </div>
        <!-- Submit button -->
        <div><input type="submit" class="btn btn-primary" value="Sign In"/></div>
    </form>
</div>
</body>
</html>