<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Checkout Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 align="center">Your Checkout Books</h2>

    <div align="right">
        <form th:action="@{/findbook}" method="get">
            <input type="text" name="name" th:value="${name}" placeholder="Find by Book or Author Name" size="30">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <form action="#">
        <table class="table  table-bordered table-striped">
            <thead th:if="${not #lists.isEmpty(books)}">
            <tr>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Year Of Publication</th>
                <th>Number Of Copies</th>
                <th>Return</th>
            <tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(books)}">
            <tr th:each="row : ${books}">
                <td th:text="${row.bookName}">Title ...</td>
                <td th:text="${row.authorName}">authorName ...</td>
                <td th:text="${row.yearOfPublication}">yearOfPublication ...</td>
                <td th:text="${row.numOfCopies}">copies ...</td>
                <td align="center"> <input
                        type="checkbox"
                        th:value="${row.id}"/></td>
            </tr>
            </tbody>
        </table>
        <div align="right" th:if="${not #lists.isEmpty(books)}">
            <button type="submit" class="btn btn-primary">Return</button>
        </div>
    </form>
    <table class="table table-bordered table-sm mt-2">
        <tbody th:if="${#lists.isEmpty(books)}">
        <tr>
            <td colspan="3" th:text="${errorMessage}">Sorry!No Books in library</td>
        </tr>
        </tbody>
    </table>
    <a href="#" th:href="@{/books/}" >View All Books</a>
    <p><a href="#" th:href="@{/}" >Home</a> </p>
</div>
</body>
</html>